{% set channel_id= salt["pillar"].get("hl:channel_id") %}
{% set Orderer=salt["pillar.get"]("OrdererOrgs")[0] %}
{% set orgs=salt["pillar.get"]("PeerOrgs") %}
{% set domain=salt["pillar.get"]("placement:domain")%}

{% set hl_version=salt["pillar"].get("hl:version") %}



{% set dns_server=salt["mine.get"]("*","controlpath_ip")[salt["pillar.get"]("bind:config:dns-server:host")][0] %}
{% set anchorPeers={} %}
{% for org in orgs%}
  {% set id=salt["pillar.get"]("placement:anchorPeers:%s"%org["Name"]) %}
  {% set host=salt["pillar.get"]("placement:hostalias:%s:host"%id) %}
  {% set ip=salt["mine.get"]("*",'controlpath_ip')[host][0] %}
  {% set port=salt["pillar.get"]("placement:hostalias:%s:ports:peer"%id) %}
  {% do anchorPeers.update({org["Name"]:{"id":id,"host":host,"ip":ip,"port":port}}) %}
{% endfor %}


{% set crypto_minion=salt["pillar.get"]("placement:cryptogen:host") %}

{% set orderer={} %}
{% do orderer.update({"port":salt["pillar.get"]("placement:orderer:port")}) %}



{% set aliases={} %}
{% for alias in salt["pillar.get"]("placement:hostalias") %}
  {% for key,value in alias.items() %}
  {% do aliases.update({key:value["host"]})%}
  {% endfor %}
{% endfor %}


######################### HYPERLEDGER IMAGES

{% set fabric_ca_image=salt["pillar.get"]("hl:fabric_ca_image") %}
{% set fabric_orderer_image=salt["pillar.get"]("hl:fabric_orderer_image") %}
{% set fabric_peer_image=salt["pillar.get"]("hl:fabric_peer_image") %}
{% set fabric_couchdb_image=salt["pillar.get"]("hl:fabric_couchdb_image") %}
{% set fabric_tools_image=salt["pillar.get"]("hl:fabric_tools_image") %}
