######################### HYPERLEDGER IMAGES

{% set fabric_ca_image="nherbaut/fabric-ca:latest" %}
{% set fabric_orderer_image="nherbaut/fabric-orderer:latest" %}
{% set fabric_peer_image="nherbaut/fabric-peer:latest" %}
{% set fabric_couchdb_image="nherbaut/fabric-couchdb:latest" %}
{% set fabric_tools_image="nherbaut/fabric-tools:latest" %}
